/* Custom CSS goes here */
body {
    padding-bottom: 70px;

}
 
div.About{
    border-collapse: separate;
    border-spacing: 50px;
    font-size: 24px;
    }
.jumbotron { background-color:white;}
.space { text-align:match-parent;
         padding:50px;
}
.para { font-size : 22px;
        font-family: 'Times New Roman', Times, serif;
}
.list{font-size:15px;}
.navpara {color:white;}
.tableProj{font-size:35px;
  padding:65px;
  border-style: groove;}

.tableInfo {
    border-collapse: collapse;
    width: 100%;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
th, td {
    padding: 15px;
}