/* Custom CSS goes here */

body {
    padding-bottom: 70px;

}
 
div.About{
    border-collapse: separate;
    border-spacing: 50px;
    font-size: 24px;
    }
.jumbotron { background-color:white;}
.space { text-align:match-parent;
         padding:50px;
}
.para { font-size : 22px;
        font-family: 'Times New Roman', Times, serif;
}
.list{font-size:15px;}
.navpara {color:white;}
.tableProj{font-size:35px;
  padding:65px;
  border-style: groove;}

.tableInfo {
    border-collapse: collapse;
    width: 100%;
}
.tableInfo,.ProjectColumn, .ProjectRow {
    border: 1px solid #ddd;
    text-align: left;
}
.ProjectColumn, .ProjectRow {
    padding: 15px;
}
.projectImg {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}

.projectImg:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 80px;
	width: 90px;
    background-color:#4280f4;
}